* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #ffffff, #4d4c4c);
  color: #333;
  padding-top: 8%;
  padding-left: 12%;
}

.container h1 {
  display: flex;
  align-items: center;
  font-size: 36px;
  font-weight: 600;
}

.container h1 img {
  width: 64px;
}

.container button img {
  width: 24px;
  margin-right: 8px;
}

.container button {
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #fcfafa, #ffffff2c);
  color: #333;
  font-size: 16px;
  outline: 0;
  border: 0;
  border-radius: 40px;
  padding: 15px 25px;
  margin: 30px 0 20px;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.295);
  transition: 0.2s;
}

.container button:hover {
  scale: 1.03;
}

.input-box {
  position: relative;
  width: 100%;
  max-width: 500px;
  min-height: 150px;
  background: #ffffff2a;
  color: #333;
  padding: 20px;
  margin: 20px 0;
  outline: 0;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.295);
}

.input-box img {
	width: 24px;
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}
